.popup-overlay {

    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, 0.55);

    display: none;

    align-items: center;

    justify-content: center;

    z-index: 1000;
}

.popup-overlay.active {

    display: flex;
}


.popup {

    position: relative;

    width: 500px;

    max-width: 90%;

    background: #FA8334;

    border: 5px solid #111;

    padding: 35px;

    box-shadow: 10px 10px 0 #111;
}

.popup h2 {

    font-size: 38px;

    margin-bottom: 25px;
}

.popup h3 {

    font-size: 28px;

    margin-bottom: 20px;
}


.popup-close {

    position: absolute;

    top: 10px;

    right: 10px;

    width: 40px;

    height: 40px;

    background: #c40072;

    border: 3px solid #111;

    font-size: 25px;
}


.translation-box {

    border: 4px solid #111;

    padding: 20px;

    margin: 20px 0;

    background: #e8e2ca;
}

.translation-box h3 {

    margin: 10px 0;
}


/* QUIZ */

.quiz-options {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px;
}

.quiz-options button {

    min-height: 60px;

    background: #c40072;

    border: 4px solid #111;

    font-family: inherit;

    font-size: 17px;
}

.quiz-options button:hover {

    transform: scale(1.03);
}